# Entornos virtuales de Python
/env_portafolio
/venv
/.venv

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de distribución de Python
/dist/
/build/
*.egg-info/

# Dependencias de Node.js
/node_modules

# Archivos de log y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
.idea/
.vscode/

# Variables de entorno
.env

# Volumenes de Docker
/volume